<!DOCTYPE html>
<html>
  <head>
    <title th:text="${chat.topic}">Chats</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    />
    <script src="/js/stomp.umd.min.js"></script>
    <script src="/js/stompClient.js"></script>
    <style></style>
  </head>
  <body>
    <div id="main-content" class="container">
      <h1 th:text="${chat.topic}"></h1>
      <div class="row">
        <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Sender</th>
                <th>Timestamp</th>
                <th>Content</th>
              </tr>
            </thead>
            <tbody id="messagelist">
              <tr th:each="message : ${chat.messages}">
                <td th:text="${message.sender}"></td>
                <td th:text="${message.timestamp}"></td>
                <td th:text="${message.content}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <form id="newmessageform" method="post" onsubmit="event.preventDefault()">
            <div class="form-group">
              <label for="sender">Sender:</label>
              <input class="form-control" name="sender" id="sender" />
            </div>
            <div class="form-group">
              <label for="content">Content:</label>
              <textarea class="form-control" name="content" id="content" rows="5"></textarea>
            </div>
            <button class="btn btn-primary" id="send" onclick="sendMessage()">Send</button>
          </form>
        </div>
      </div>
      <a href="/chats">Back to Home</a>
    </div>
  </body>
</html>
