<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div id="main-content" class="container">
      <div class="row">
        <h1>Existing Chats</h1>
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <td>Topics</td>
                <td>#Messages</td>
              </tr>
            </thead>
            <tbody>
              <tr th:each="chat : ${chats}">
                <td><a th:href="@{/chats/{id}(id=${chat.id})}" th:text="${chat.topic}">${chat.topic}</a></td>
                <td th:text="${chat.messages.size}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <form id="chatsform" action="/chats" method="post">
            <div class="form-group">
              <label for="newchat">New Chat Topic:</label>
              <input class="form-control" name="topic" id="newchat" />
            </div>
            <button class="btn btn-primary pull-right">Create</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
