<!DOCTYPE html>
<html>
  <head>
    <title>Toolbox Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    />
  </head>
  <body>
    <h1>Toolbox by rwoerzbe</h1>
    <p>"Toolbox" is an extensible bunch of everyday tools and is proud on its web 1.0 look and feel. Click on the links below to navigate.</p>
    <ul>
      <li><a href="./todolist">ToDo List</a></li>
      <li><a href="./palindrome">Palindrome Checker</a></li>
      <li><a href="./chats">Chat</a></li>
      <li><a href="./randomquotes.html">Random Quotes Stream</a></li>
      <li><a href="./profile">Your Google Profile</a></li>
    </ul>
    <p>
      Toolbox version:
      <span th:text="${@environment.getProperty('TOOLBOX_BUILD_VERSION')}"></span>
    </p>
    <p>
      Active profile:
      <span th:text="${@environment.getActiveProfiles()[0]}"></span>
    </p>
  </body>
</html>
