<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Checker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    />
  </head>
  <body>
    <h1>Palindrome Checker</h1>
    <form id="palindromeform" action="/palindrome" method="post">
      <div>
        <label for="palindromecandidate">Palindrome Candidate:</label>
        <input name="palindromecandidate" id="palindromecandidate" />
      </div>
      <div>
        <button class="btn btn-primary">Check</button>
      </div>
    </form>
    <div>result: <span th:text="${result}" id="result" /></div>
  </body>
</html>
