<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <ul>
        <li>Name: <span th:text="${userName}"></span></li>
        <li>Email: <span th:text="${userEmail}"></span></li>
        <li>Picture: <img th:src="${userPicture}" alt="Profile Picture"></li>
    </ul>
</body>
</html>